html,body
{
    margin: 0,auto;
    padding: 0;
}
.forget-heading
{
    background-color:rgba(226, 133, 12, 0.842);
    color:black;
    padding:30px 30px;
    font-size:20px;
    text-align : left;
    font-family:"Times New Roman";
}
.forget-id,.forget-mobile-number,.new-password,.new-confirm-password,.forget_submit_button
{
    border-radius: 25px;

}

/* .form-outline
{
    margin: 10px,10px;
} */